.section-name {
  font-size: 48px;
}

.section-title {
  padding-top: 48px;
  font-size: 30px;
}

.section-description {
  font-size: 18px;
  padding-top: 30px;
  font-family: "Calibri";
}

.section-bar {
  padding-top: 5px;
  width: 48px;
  background: rgba(123,3,6,0.85) !important;
}
