<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="section-title">Domestic POCT Industry Leader</div>
      <div class="section-bar"></div>
      <div class="section-description">Guangzhou Wondfo Biotech Co., Ltd., headquartered in Guangzhou science city, has
        been focusing
        on the R&amp;D, production, sales and service of point-of-care testing (POCT) products and providing customers
        with professional rapid diagnosis and chronic disease management solutions since founded in 1992. <br> <br>
        Wondfo
        now has more than 3000 employees and a wide range of products for the rapid identification of cardiovascular
        diseases, inflammation, tumor, infectious diseases, drug abuse, pregnancy, and so on, widely sold to 140+
        countries and regions.
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/about-us-background-2.jpg" style="width: 100%; margin-top: 10%">
    </div>
  </div>
  <div class="row mt-5">
    <div>
      <div class="section-title">Sound Product System</div>
      <div class="section-bar"></div>
      <div class="section-description">Continuous innovation drives us forward. Wondfo has developed “Nine Technology
        Platforms”- the immune colloidal gold, immune-fluorescence, electrochemistry, dry biochemistry,
        chemiluminescence, molecular diagnostics, instrument, pathology, and biological raw material.
      </div>
      <div class="mt-5"><img src="assets/images/about-us-background-3.jpg"></div>
      <div class="section-description">
        Based on the above technology platforms, Wondfo has extended the product lines to the rapid identification
        of cardiovascular diseases, inflammation, tumor, infectious diseases, drug abuse, pregnancy, etc. Our products
        are widely used in the rapid diagnosis and effective treatment monitoring of critical and severe diseases,
        chronic disease management, maternal and children healthcare, blood glucose monitoring, drug detection,
        alcohol testing, forensic expertise and other fields.<br>
        <br>
        The Flu Series is the star product of Wondfo which keeps brilliant records. It is the only product in China
        obtaining the registration certificate for antigen detection of H7 subtype avian influenza virus. And it is
        the only influenza detection product in China with a full range of test menu (H7, FIuA, FIuB, FIuA&amp;B).<br>
        <br>
        In recent years, Wondfo launched a molecular diagnostic technology platform for more accurate diagnosis of
        influenza diseases, infectious diseases, and tumor concomitant.
      </div>
    </div>
  </div>
</div>
