<div class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6 section-column">
      <div class="section-title">Colloidal Gold Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        - The most developed technology platform.<br>
        - Easy to use, require no equipment to process the sample or read the result.<br>
        - Wide range of applications, including detecting acute infectious disease, drug of abuse, etc.<br>
        - Galen 2019-nCoV Antibody Test kit is the first one of its kind that got approval to market in China.
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="assets/images/product-main-0.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
  <div class="row justify-content-center">
    <div class="section-learn-more">Covid</div>
    <div class="section-learn-more">Drug of Abuse (DOA)</div>
    <div class="section-learn-more">Sexually Transmitted Disease</div>
    <div class="section-learn-more">Tumor Marker</div>
    <div class="section-learn-more">Infectious Disease</div>
    <div class="section-learn-more">Fertility</div>
  </div>
</div>
