<div class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6 section-column">
      <div class="section-title">Colloidal Gold Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        - The most developed technology platform.<br>
        - Easy to use, require no equipment to process the sample or read the result.<br>
        - Wide range of applications, including detecting acute infectious disease, drug of abuse, etc.<br>
        - Galen 2019-nCoV Antibody Test kit is the first one of its kind that got approval to market in China.
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="assets/images/product-main-0.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
  <div class="row justify-content-center">
    <div class="section-learn-more">Covid</div>
    <div class="section-learn-more">Drug of Abuse (DOA)</div>
    <div class="section-learn-more">Sexually Transmitted Disease</div>
    <div class="section-learn-more">Tumor Marker</div>
    <div class="section-learn-more">Infectious Disease</div>
    <div class="section-learn-more">Fertility</div>
  </div>
</div>

<div *ngIf="selectedTitle == 0" class="container-fluid dark-background section pt-lg-2 pb-lg-5">
  <div class="section-related">
    <div class="section-name mt-5">Related Products</div>
    <div class="section-bar"></div>
  </div>
  <div class="row mt-5 section-column">
    <div class="card product-card m-2" style="width: 18rem;" (click)="selectedProduct=1">
      <img
        src="assets/images/colloidal-gold-platform/covid-19/influenza.jpg"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          Influenza/2019-nCoV Antigen Combo Test
        </p>
      </div>
    </div>
    <div class="card product-card m-2" style="width: 18rem;" (click)="selectedProduct=2">
      <img
        src="assets/images/colloidal-gold-platform/covid-19/antigen-test.png"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          2019-nCoV Antigen Test (Nasal Swab Self Testing)
        </p>
      </div>
    </div>
    <div class="card product-card m-2" style="width: 18rem;" (click)="selectedProduct=3">
      <img
        src="assets/images/colloidal-gold-platform/covid-19/antibody-rapid-test.png"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          2019-nCoV RBD Antibody Rapid Test
        </p>
      </div>
    </div>
    <div class="card product-card m-2" style="width: 18rem;" (click)="selectedProduct=4">
      <img
        src="assets/images/colloidal-gold-platform/covid-19/antigen-test-lateral.png"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          2019-nCoV Antigen Test (Lateral Flow Method)
        </p>
      </div>
    </div>
    <div class="card product-card m-2" style="width: 18rem;" (click)="selectedProduct=5">
      <img
        src="assets/images/colloidal-gold-platform/covid-19/antibody-test-lateral.png"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          2019-nCoV Antibody Test (Lateral Flow Method)
        </p>
      </div>
    </div>
  </div>
</div>
