<div class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6 section-column">
      <div class="section-title">Dry Biochemical Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        Wondfo Dry Chemistry Analyzer can test 16 items and provide the result within 2 minutes, ideal for the detection
        of cardiac markers, kidney function, liver function, pancreatitis, etc.
        <br> <br>
        Features:<br>
        - The most comprehensive biochemical tests<br>
        - Enhanced enzymes stability
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="assets/images/product-main-0.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
</div>
