<div *ngIf="selectedTechnology == 1" class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6">
      <div class="section-title">Immunofluorescence Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        The platform includes 50+ kinds of reagents and and three high-performance devices, focusing on detecting
        cardiovascular disease, inflammation, kidney injury, sex hormones, thyroid function, diabetes, tumor, and
        others. <br>
        The number of our Finecare Meter series installed in all levels of medical institutions is the largest in China.
        Our Finecare Meter series also have the broadest test menu.
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-1.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
</div>
<div *ngIf="selectedTechnology == 2" class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6">
      <div class="section-title">Molecular Diagnostics Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        · Integrated diagnostic solution<br>
        · Full-automatic<br>
        · 1 Test Cassette = 1 Micro PCR Lab <br>
        · Joint Ventures: Wondfo iCubate, Wondfo Cartis
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-2.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
</div>
<div *ngIf="selectedTechnology == 3" class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6">
      <div class="section-title">Coagulation Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        The platform includes Semi-Automatic Blood Coagulation Analyzer and Optical Blood Coagulation. Our optical blood
        coagulation analyzer can test PT, APTT, TT, FIB, and ACT simultaneously, the first of its kind in the world.
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-3.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
</div>
<div *ngIf="selectedTechnology == 4" class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6">
      <div class="section-title">Dry Biochemical Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        Wondfo Dry Chemistry Analyzer can test 16 items and provide the result within 2 minutes, ideal for the detection
        of cardiac markers, kidney function, liver function, pancreatitis, etc.
        <br> <br>
        Features:<br>
        - The most comprehensive biochemical tests<br>
        - Enhanced enzymes stability
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-4.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
</div>
