<div class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6 section-column">
      <div class="section-title">Immunofluorescence Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        The platform includes 50+ kinds of reagents and and three high-performance devices, focusing on detecting
        cardiovascular disease, inflammation, kidney injury, sex hormones, thyroid function, diabetes, tumor, and
        others. <br>
        The number of our Finecare Meter series installed in all levels of medical institutions is the largest in China.
        Our Finecare Meter series also have the broadest test menu.
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="assets/images/product-main-0.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
  <div class="row justify-content-center">
    <div class="section-learn-more">Instruments</div>
    <div class="section-learn-more">COVID-19</div>
    <div class="section-learn-more">Cardiovasculor</div>
    <div class="section-learn-more">Coagulation</div>
    <div class="section-learn-more">Diabetes & Renal Injury</div>
    <div class="section-learn-more">Fertility</div>
    <div class="section-learn-more">Inflammation</div>
    <div class="section-learn-more">Thyroid Hormorne</div>
    <div class="section-learn-more">Tumor Marker</div>
    <div class="section-learn-more">Others</div>
  </div>
</div>
