<div class="splide-body">
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="splide-element">
            <div class="row">
              <div class="col-6">
                <div class="splide-title">
                  LEADING CHINA'S POCT INDUSTRY
                  <div class="splide-description">
                    Providing customers with professional rapid diagnosis
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">Slide 02</li>
        <li class="splide__slide">Slide 03</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid section" routerLinkActive="active">
  <div *ngIf="selectedItem==0" class="row">
    <div class="col-lg-6">
      <div class="section-name">Our Products</div>
      <div class="section-bar"></div>
      <div class="section-title">Colloidal Gold Platform</div>
      <div class="section-description">
        - The most developed technology platform.<br>
        - Easy to use, require no equipment to process the sample or read the result.<br>
        - Wide range of applications, including detecting acute infectious disease, drug of abuse, etc.<br>
        - Galen 2019-nCoV Antibody Test kit is the first one of its kind that got approval to market in China.
      </div>
      <div class="section-learn-more"><a routerLink="../products">Learn More &nbsp; +</a></div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="assets/images/product-main-0.jpg">
    </div>
  </div>
  <div *ngIf="selectedItem==1" class="row">
    <div class="col-lg-6">
      <div class="section-name">Our Products</div>
      <div class="section-bar"></div>
      <div class="section-title">Immunofluorescence Platform</div>
      <div class="section-description">
        The platform includes 50+ kinds of reagents and and three high-performance devices, focusing on detecting
        cardiovascular disease, inflammation, kidney injury, sex hormones, thyroid function, diabetes, tumor, and
        others. <br>
        The number of our Finecare Meter series installed in all levels of medical institutions is the largest in China.
        Our Finecare Meter series also have the broadest test menu.
      </div>
      <div class="section-learn-more"><a routerLink="../products">Learn More &nbsp; +</a></div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-1.jpg">
    </div>
  </div>
  <div *ngIf="selectedItem==2" class="row">
    <div class="col-lg-6">
      <div class="section-name">Our Products</div>
      <div class="section-bar"></div>
      <div class="section-title">Molecular Diagnostics Platform</div>
      <div class="section-description">
        · Integrated diagnostic solution<br>
        · Full-automatic<br>
        · 1 Test Cassette = 1 Micro PCR Lab <br>
        · Joint Ventures: Wondfo iCubate, Wondfo Cartis
      </div>
      <div class="section-learn-more"><a routerLink="../products">Learn More &nbsp; +</a></div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-2.jpg">
    </div>
  </div>
  <div *ngIf="selectedItem==3" class="row">
    <div class="col-lg-6">
      <div class="section-name">Our Products</div>
      <div class="section-bar"></div>
      <div class="section-title">Coagulation Platform</div>
      <div class="section-description">
        The platform includes Semi-Automatic Blood Coagulation Analyzer and Optical Blood Coagulation. Our optical blood
        coagulation analyzer can test PT, APTT, TT, FIB, and ACT simultaneously, the first of its kind in the world.
      </div>
      <div class="section-learn-more"><a routerLink="../products">Learn More &nbsp; +</a></div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-3.jpg">
    </div>
  </div>
  <div *ngIf="selectedItem==4" class="row">
    <div class="col-lg-6">
      <div class="section-name">Our Products</div>
      <div class="section-bar"></div>
      <div class="section-title">Dry Biochemical Platform</div>
      <div class="section-description">
        Wondfo Dry Chemistry Analyzer can test 16 items and provide the result within 2 minutes, ideal for the detection
        of cardiac markers, kidney function, liver function, pancreatitis, etc.
        <br> <br>
        Features:<br>
        - The most comprehensive biochemical tests<br>
        - Enhanced enzymes stability
      </div>
      <div class="section-learn-more"><a routerLink="../products">Learn More &nbsp; +</a></div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="../../assets/images/product-main-4.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
  <div class="row mt-5 pb-5">
    <div *ngIf="selectedItem != 0" class="col-sm-3"><img (click)="selectedItem=0" class="section-image cursor-pointer"
                                                         src="assets/images/product-main-0.jpg"></div>
    <div *ngIf="selectedItem != 1" class="col-sm-3"><img (click)="selectedItem=1" class="section-image cursor-pointer"
                                                         src="assets/images/product-main-1.jpg"></div>
    <div *ngIf="selectedItem != 2" class="col-sm-3"><img (click)="selectedItem=2" class="section-image cursor-pointer"
                                                         src="assets/images/product-main-3.jpg"></div>
    <div *ngIf="selectedItem != 3" class="col-sm-3"><img (click)="selectedItem=3" class="section-image cursor-pointer"
                                                         src="assets/images/product-main-2.jpg"></div>
    <div *ngIf="selectedItem != 4" class="col-sm-3"><img (click)="selectedItem=4" class="section-image cursor-pointer"
                                                         src="assets/images/product-main-4.jpg"></div>
  </div>
</div>

<div class="container-fluid dark-background section">
  <div class="row">
    <div class="col-lg-6">
      <div class="section-name mt-5">About Us</div>
      <div class="section-bar"></div>
      <div class="section-title">Domestic POCT Industry Leader</div>
      <div class="section-description">
        We have been committed to safeguarding health and improving lives with better products, services, and
        solutions since founded in 1992 in Guangzhou. Today, with more than 3000 employees, we'll continue to innovate
        and shape the future of POCT and healthcare.
      </div>
      <div class="section-learn-more"><a routerLink="../about-us">Learn More &nbsp; +</a></div>
    </div>
  </div>
</div>
