<div class="container-fluid section" routerLinkActive="active">
  <div class="row">
    <div class="col-lg-6 section-column">
      <div class="section-title">Molecular Diagnostics Platform</div>
      <div class="section-bar"></div>
      <div class="section-description">
        · Integrated diagnostic solution<br>
        · Full-automatic<br>
        · 1 Test Cassette = 1 Micro PCR Lab <br>
        · Joint Ventures: Wondfo iCubate, Wondfo Cartis
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <img class="section-image" src="assets/images/product-main-0.jpg">
    </div>
  </div>
  <div class="row justify-content-lg-center mt-5">
    <div class="section-middle-bar"></div>
  </div>
</div>
